<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Awesone -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <title>Lista de Tareas</title>
    <div>
      <nav>
        <div>
        <ul>
          <li><a href="/enero/">Enero</a></li>
          <li><a href="/febrero/">Febrero</a></li>
          <li><a href="#">Marzo</a></li>
          <li><a href="#">Abril</a></li>
          <li><a href="#">Mayo</a></li>
          <li><a href="#">Junio</a></li>
          <li><a href="#">Julio</a></li>
          <li><a href="#">Agosto</a></li>
          <li><a href="#">Septiembre</a></li>
          <li><a href="#">Octubre</a></li>
          <li><a href="#">Noviembre</a></li>
          <li><a href="#">Diciembre</a></li>
         
        </ul>
      </div>
      </nav>
      <div>
        
      </div>
    </div>
  </head>
  <body>
    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>